__pycache__
audio_data/
weights/
.venv/
.DS_Store
*.pt
*.pth
*.safetensors

# Electron build output
*.exe
*.dll
*.pak
*.dat
*.bin
*.json
locales/
resources/
LICENSE.electron.txt
LICENSES.chromium.html