# PyTorch with CUDA 12.1 support (for GPU acceleration)
# For CPU-only, remove the --extra-index-url line below
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchaudio

# dependency from WhisperStreaming:
librosa

# from SimulWhisper
transformers

# from Whisper
tqdm
tiktoken

# both Whisper and SimulWhisper. SimulWhisper requires <3
triton>=2.0.0,<3;platform_machine=="x86_64" and sys_platform=="linux" or sys_platform=="linux2"

# for WebSocket server
websockets

# for translation
deep-translator

# for denoiser
speechbrain

